@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0F19;
  color: #F3F4F6;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

/* Hide scrollbar for clean aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0B0F19;
}

::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

